@charset "utf-8";

/* ==========================================================================
 * Bootstrap overrides
 * ========================================================================== */

$brand-primary:             #61B5AB;

/* ==========================================================================
 * Imports / Includes
 * ========================================================================== */

@import "bootstrap";
@import "font-awesome";
@import "mixins";
@import "css3-mixins";

/* ==========================================================================
 * Custom extends and mixins
 * ========================================================================== */



/* ==========================================================================
 * Layout
 * ========================================================================== */



/* ==========================================================================
 * Typography
 * ========================================================================== */



/* ==========================================================================
 * Primary navigation
 * ========================================================================== */



/* ==========================================================================
 * Globals
 * ========================================================================== */

.visible {
  display: block !important;
  opacity: 1;
  height: auto;
}

.cloak {
  display: none !important;
  opacity: 0;
  height: 0;
}

::selection {
  color: white;
  background: green;
}

::-moz-selection {
  color: white;
  background: green;
}

.alignleft, .alignright {
  margin-bottom: 1em;
}

.alignleft {
  margin-right: 1em;
  float: left;
}

.alignright {
  margin-left: 1em;
  float: right;
}

/* ==========================================================================
 * Media queries
/* ==========================================================================
 * Small devices (tablets)
 * ========================================================================== */

@media screen and (min-width: $screen-sm-min) { }

/* ==========================================================================
 * Medium devices (desktops)
 * ========================================================================== */

@media screen and (min-width: $screen-md-min) {}

/* ==========================================================================
 * Large devices (large desktops)
 * ========================================================================== */

@media screen and (min-width: $screen-lg-min) {}
