# Copy this file to environment_variables.rb, then update these settings

# URL when developing locally
ENV['site_url_development'] = "http://localhost:4567"
# URL when building for deployment
ENV['site_url_production'] = "http://change.this"