---
title: Home
meta_description: This overrides the default meta description.
changefreq: weekly
priority: 1
---

.alert.alert-success
  i.fa.fa-smile-o
  |&nbsp;Setup successful!

markdown:
  # Welcome to Middleman

  More Configuration:

  * Set site_title, site_description, etc. in `config.rb`
  * Replace `source/favicon_template.png` for favicon generation
  * Start editing this `index.slim` or `layouts/layout.slim`
