---
title: HTML5 Boilerplate Middleman
meta_description: This overrides the default meta description.
---

h1 Middleman Seed

p This is a project template to be used for new Middleman projects. Install the project template, then use it to initialize a new Middleman project.

.well
  markdown:
    **Included packages:**

    * [Middleman](http://middlemanapp.com/)
    * [HTML5 boilerplate](http://html5boilerplate.com/)
    * [Slim](http://slim-lang.com/)
    * [SASS](http://sass-lang.com/)
    * [Bootstrap 3 SASS](https://github.com/twbs/bootstrap-sass)
    * [Font Awesome](http://fontawesome.io) <span class="badge"><i class="fa fa-thumbs-up"></i></span>
    * [Tilt](https://github.com/rtomayko/tilt)
    * [jQuery](http://jquery.com/)

.well
  markdown:
    **Included features:**

    * Image optimization
    * Favicon and device-specific icon generation
    * CSS3 mixins